.qrcode {
    margin: 0 auto 16px auto;
}

.qrcode canvas {
    max-width: 100%
}

.qrCodeWithImageSectionWrapper {
    margin-top: 48px;
}

.link {
    display: inline-block;
    margin-bottom: 16px;
}